In [ ]:
# Clone project folder from GitHub
!git clone https://github.com/data-analytics-professionals/tweet-classification.git

Cloning into 'tweet-classification'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 13 (delta 3), reused 5 (delta 1), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [5]:
# import pandas, alias as pd
import pandas as pd

# connect with train.csv and store in df
df = pd.read_csv("/content/tweet-classification/data/train.csv")

In [6]:
# check data within df
df.head(3)

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1

[3 rows x 5 columns]

In [ ]:
df.shape